.container3 {
  position: absolute;
  left: 200px;
  top: 180px;
  right: 100px;
  background: white;
  padding-bottom: 30px;
  border-radius: 30px;
}

.contact-image {
  margin-top: -100px;
  text-align: center;
}

.contact-image img {
  border-radius: 100px;
  transform: rotate(35deg);
}

.container3 form {
  text-align: center;
}

.form-control {
  border-radius: 30px;
  width: 400px;
  height: 40px;
  margin-bottom: 18px;
  border: 1px solid rgb(168, 168, 168);
}

.row {
  margin: auto;
  margin-top: auto;
  display: inline-block;
  margin-top: 50px;
}

.col-md-6 {
  float: left;
  margin-right: 100px;
}

.form-control1 {
  max-width: 450px;
  height: 121px;
  min-width: 450px;
  min-height: 170px;
  border-radius: 10px;
  border: 1px solid rgb(168, 168, 168);
  padding: 0 10px;
}

.btnContact {
  float: left;
  border-radius: 30px;
  background: red;
  height: 40px;
  width: 200px;
  color: white;
  font-size: 20px;
}
